
.Icono {
  background: white;
  @media screen and (min-width: 768px) {
    z-index: 1021;
    position: fixed;
    right: 10px;
    top: 50%;
  }
}

.sending {
  .type {
    cursor: initial;
    &:hover {
      border-color: #e8ebed;
      .logo, p {
        color: #8a959c;
      }
    }
    &.selected {
      border-color: #40b3ff;
      background: rgba(64, 179, 255, .1);
      .logo {
        color: #40b3ff;
      }
      p {
        color: #28333b;
      }
    }
  }
}

.type {
  width: 47%;
  position: relative;
  background: #f2f4f7;
  border: 2px solid #e8ebed;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  transition: all .5s ease;

  &:hover {
    border-color: #28333b;
    .logo, p {
      color: #28333b;
    }
  }
  &.selected {
    border-color: #40b3ff;
    background: rgba(64, 179, 255, .1);
    .logo {
      color: #40b3ff;
    }
    p {
      color: #28333b;
    }

    .check {
      font-weight: 900;
      position: absolute;
      height: 40px;
      width: 40px;
      top: -21px;
      right: -21px;
      background: #fff;
      border: 2px solid #40b3ff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .logo, p {
    transition: all .5s ease;
  }
  .logo {
    font-size: 48px;
    color: #8a959c;
  }

  p {
    margin-bottom: 0;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
    color: #8a959c;
  }
}
<<<<<<< HEAD

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
}

.sending {
  .type {
    cursor: initial;
    &:hover {
      border-color: #e8ebed;
      .logo, p {
        color: #8a959c;
      }
    }
    &.selected {
      border-color: #40b3ff;
      background: rgba(64, 179, 255, .1);
      .logo {
        color: #40b3ff;
      }
      p {
        color: #28333b;
      }
    }
  }
}

.type {
  width: 47%;
  position: relative;
  background: #f2f4f7;
  border: 2px solid #e8ebed;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  transition: all .5s ease;

  &:hover {
    border-color: #28333b;
    .logo, p {
      color: #28333b;
    }
  }
  &.selected {
    border-color: #40b3ff;
    background: rgba(64, 179, 255, .1);
    .logo {
      color: #40b3ff;
    }
    p {
      color: #28333b;
    }

    &::after {
      content: '\f00c';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      position: absolute;
      height: 40px;
      width: 40px;
      top: -21px;
      right: -21px;
      background: #fff;
      border 2px solid #40b3ff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .logo, p {
    transition:; all .5s ease;
  }
  .logo {
    font-size: 48px;
    color: #8a959c;
  }

  p {
    margin-bottom: 0;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
    color: #8a959c;
  }
}
